/*use position absolute and right,left,top,bottom to flow the element out of page*/
/* #root and .App can be styled only inline not from a module */
@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");

body {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(100, 189, 189); */
  background-color: rgb(100, 189, 219);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 0;
}
* {
  font-family: "Golos Text", sans-serif;
}
.Body {
  position: relative;
  min-width: 90%;
  min-height: 100px;
  margin: 0;
  transition: 0.5s;
}
.Body * {
  margin: 0;
  box-sizing: border-box;
  color: black;
  transition: filter 0.5s;
}
/* .Body > :not(.Hero) {
  align-self: auto;
} */
/*SearchBar.jsx*/

.searchBarAndLocationContainer {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 300px;
  height: 35px;
  transform: translate(20%, 60%);
  /* margin-inline-start: 10%; */
}
.searchBarAndLocationContainer .searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto; /*overide justify content on parent*/
  width: 12%;
  height: 100%;
  background: rgba(216, 216, 216, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(216, 216, 216, 0.65);
  outline: transparent;
  /* border: none; */
  transition: 1s;
}
.searchBarAndLocationContainer .searchBar input {
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
}
.searchBarAndLocationContainer .searchBar .searchIcon {
  transform: translateX(-50%);
}
.searchBarAndLocationContainer .searchBar:hover,
.searchBarAndLocationContainer .searchBar:has(input:hover),
.searchBarAndLocationContainer .searchBar:has(input:focus),
.searchBarAndLocationContainer .searchBar:has(input:not(:placeholder-shown)) {
  width: 100%;
}
.searchBarAndLocationContainer .noLocationFoundText {
  font-size: 1.8em;
  position: absolute;
  top: 100%;
}
table {
  position: absolute;
  display: none;
  top: 40px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: none;
  border-spacing: 0; /*remove gaps between borders*/
  overflow: hidden;
}
table * {
  border: none;
}
.searchBar:has(input:focus) ~ table:has(.location),
table:has(tr:active) {
  /* tr:active when a location is clicked*/
  z-index: 2;
  display: inline-block;
}
th {
  background-color: rgba(195, 195, 195, 0.8);
}
tr img {
  width: 40px;
  height: 30px;
}
td.locationName {
  padding-inline: 20px;
}
td.countryFlag img {
  background-color: red;
  display: block;
}
.location:hover {
  cursor: pointer;
  background-color: red;
  background-color: rgba(195, 195, 195, 0.8);
}
.Hero {
  display: flex;
  align-items: center;
  width: 600px;
  /* width: clamp(600px, 8vw, 200px); */
  transition: filter 0.5s;
  background: rgba(216, 216, 216, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(216, 216, 216, 0.65);
  transform: translateY(70%);
  margin-inline-start: auto;
  margin-inline-end: auto;

  /* box-shadow: 0 0 8px 8px rgb(100, 189, 219) inset; */ /*faded edges*/
}
.mainWeatherInfo {
  width: calc(100% - 20%); /*operator + or - should always have space around*/
  display: inline-flex;
  min-height: 100px;
  align-items: center;
}
.mainWeatherInfo p {
  display: inline-block;
}
.heroTemp {
  width: fit-content;
  font-size: 4.5em;
  padding-right: 2%;
  border-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), transparent) 2;
  border-right: 3px solid;
  margin-inline-start: 8%;
}
.currentWeatherIcon {
  width: 20%;
  margin-inline-end: 10px;
}
.currentLocationAndTime {
  /* flex-shrink: 0;  allow width to work (overflow the container)*/
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 60px;
  margin-inline-start: 20px;
}
.currentLocationAndTime p {
  /* white-space: nowrap; */
  font-size: 1.3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 320px; /* some width */
}
.currentLocationAndTime p:first-child {
  transform: translateX(-1%);
}
.currentLocationAndTime p svg {
  height: 1em;
}
:global(.blur) {
  filter: blur(2px);
  pointer-events: none; /*disable hovering selecting and other interactable things*/
}
:global(.blur) * {
  user-select: none; /*make the elements behind unselectable*/
}
.tempIcon {
  font-size: 3rem;
}
.tempIcon > path {
  fill: red;
}

@media (max-width: 800px) {
  :global(.blur) {
    filter: blur(15px);
    opacity: 0.4;
  }
}
@media (max-width: 700px) {
  .Hero {
    flex: 0 0 auto; /*display flex of parent(.Body) dictates the width of child width, adding this property removes its dependency*/
    width: 90%;
  }
  .mainWeatherInfo {
    font-size: 1em;
  }

  .heroTemp {
    margin-inline-start: 0;
  }
  .currentLocationAndTime p {
    font-size: 1.5em;
  }
}
@media (max-width: 580px) {
  .Hero {
    flex: 0 0 auto; /*display flex of parent(.Body) dictates the width of child width, adding this property removes its dependency*/
    width: 90%;
  }
  .searchBarAndLocationContainer {
    right: 10%;
  }
  .heroTemp {
    font-size: 4rem;
  }
  .currentLocationAndTime p {
    font-size: 1.2em;
    width: 210px;
  }
}

@media (max-width: 450px) {
  .Hero {
    width: 98%;
  }

  .mainWeatherInfo {
    font-size: 1em;
  }
  .currentLocationAndTime {
    justify-content: space-evenly;
  }
  .currentLocationAndTime p {
    font-size: 1.2em;
  }
  .heroTemp {
    font-size: 3em;
    margin-inline-start: 0;
  }
  .currentWeatherIcon {
    margin: 0;
  }
}
@media (max-width: 380px) {
  .currentLocationAndTime {
    margin-inline-start: 5px;
  }
  .currentLocationAndTime p {
    width: 200px;
    font-size: 1em;
  }
  .searchBarAndLocationContainer {
    right: 15%;
    width: 80%;
  }
}
