/*use position absolute and right,left,top,bottom to flow the element out of page*/
/* #root and .App can be styled only inline not from a module */
@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");

body {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Golos Text", sans-serif;
  box-sizing: border-box;
}
.Body:has(:global(.HourlyContainerGlobal)) {
  overflow: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}
.Body {
  position: relative;
  top: 0;
  /* min-width: 90%; */
  min-height: 100vh; /*remove min to disable scrollbar when hourlyWeather(mobile) is visible*/
  margin: 0;
  /* background-color: rgb(
    100,
    189,
    189
  ); fallback backgound if video doesn't work*/
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.Body * {
  margin: 0;
  box-sizing: border-box;
  color: black;
  transition: filter 0.5s;
}
/* .Body > :not(.currentWeather) {
  align-self: auto;
} */
/*SearchBar.jsx*/

.Body .Background video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  transition: 0.5s;
}

.searchBarAndLocationContainer {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 300px;
  height: 35px;
  transform: translate(20%, 60%);
  /* margin-inline-start: 10%; */
}
.searchBarAndLocationContainer .searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto; /*overide justify content on parent*/
  width: 12%;
  height: 100%;
  background: rgba(216, 216, 216, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(216, 216, 216, 0.65);
  outline: transparent;
  transition: 1s;
}

.searchBarAndLocationContainer .searchBar input {
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
}
.searchBarAndLocationContainer .searchBar .searchIcon {
  transform: translateX(-50%);
}
.searchBarAndLocationContainer .searchBar:hover,
.searchBarAndLocationContainer .searchBar:has(input:hover),
.searchBarAndLocationContainer .searchBar:has(input:focus),
.searchBarAndLocationContainer .searchBar:has(input:not(:placeholder-shown)) {
  width: 100%;
  background: rgba(216, 216, 216, 0.4);
}
.searchBarAndLocationContainer .noLocationFoundText {
  font-size: 1.8em;
  position: absolute;
  top: 100%;
}
table {
  position: absolute;
  display: none;
  top: 40px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: none;
  border-spacing: 0; /*remove gaps between borders*/
  overflow: hidden;
}
table * {
  border: none;
}
.searchBar:has(input:focus) ~ table:has(.location),
table:has(tr:active) {
  /* tr:active when a location is clicked*/
  z-index: 2;
  display: inline-block;
}

th {
  text-align: center;
}
td {
  /* padding-block-end: 5px; */
  padding-block-end: 2%;
}
tr img {
  width: 40px;
  height: 30px;
}
td.locationName {
  padding-inline: 20px;
}
td.countryFlag {
  padding-inline-start: 5px;
}
td.countryFlag img {
  background-color: red;
  display: block;
}
.location:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
}

:global(.blur) {
  @supports (filter: blur(2px)) {
    filter: blur(2px);
  }
  pointer-events: none; /*disable hovering selecting and other interactable things*/
  overflow: hidden;
}
:global(.blur) * {
  user-select: none; /*make the elements behind unselectable*/
}
.tempIcon {
  font-size: 3rem;
}
.tempIcon > path {
  fill: red;
}

@media (max-width: 520px) {
  body:has(:global(.blur)) {
    overflow: hidden; /*disable scrolling when options panel is open*/
  }
  :global(.blur) {
    /* filter: blur(15px);
    opacity: 0.4; */
    height: 100vh; /*; use height 100vh and overflow hidden to disable scrolling when on side panel (mobile mostly)*/
  }
  :global(.blur) *{
    z-index: -1;
  }
}

@media (max-width: 580px) {
  .searchBarAndLocationContainer {
    right: 10%;
  }
}

@media (max-width: 380px) {
  .searchBarAndLocationContainer {
    width: 80%;
    right: 15%;
  }
  .searchBar {
    width: 20%;
    height: 33px;
  }
  .searchIcon {
    margin-left: 10px;
  }
  .searchBarAndLocationContainer table td {
    font-size: 0.8em;
  }
}
