.currentWeather {
  display: flex;
  align-items: center;
  width: 600px;
 
  transition: filter 0.5s;
  -webkit-transition: filter 0.5s;
  background: rgba(216, 216, 216, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(216, 216, 216, 0.65);
  margin-block-start: 50px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  cursor: pointer;
}
.currentWeather * {
  cursor: pointer;
}
.mainWeatherInfo {
  width: calc(100% - 20%); 
  display: inline-flex;
  min-height: 100px;
  align-items: center;
}
.mainWeatherInfo p {
  display: inline-block;
}
.currentWeatherTemp {
  width: fit-content;
  font-size: 4.5em;
  padding-right: 2%;
  border-image: linear-gradient(
      to bottom,
      rgba(216, 216, 216, 0.3) 0%,
      rgb(15, 15, 15) 51%,
      rgba(216, 216, 216, 0.3) 100%
    )
    2;
  border-right: 2.7px solid;

  margin-inline-start: 8%;
}
.currentWeatherIcon {
  width: 20%;
  margin-inline-end: 10px;
}
.currentLocationAndTime {
  width: 65%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 60px;
  margin-inline-start: 20px;
}
.currentLocationAndTime p {
  font-size: 1.3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.currentLocationAndTime p:first-child {
  transform: translateX(-1%);
}
.currentLocationAndTime p svg {
  height: 1em;
}
@media (max-width: 700px) {
  .currentWeather {
    flex: 0 0 auto; 
    width: 90%;
  }
  .mainWeatherInfo {
    font-size: 1em;
  }

  .currentWeatherTemp {
    margin-inline-start: 5%;
  }
}
@media (max-width: 580px) {
  .currentWeather {
    flex: 0 0 auto; 
    width: 90%;
  }
  .currentWeatherTemp {
    font-size: 4rem;
  }
  .currentLocationAndTime p {
    width: 210px;
  }
}

@media (max-width: 450px) {
  .currentWeather {
    width: 98%;
  }

  .mainWeatherInfo {
    font-size: 1em;
  }

  .currentLocationAndTime {
    justify-content: space-evenly;
  }

  .currentWeatherTemp {
    font-size: 3em;
    margin-inline-start: 0;
  }
  .currentWeatherIcon {
    margin: 0;
  }
}
@media (max-width: 380px) {
  .currentLocationAndTime {
    margin-inline-start: 5px;
  }
  .currentLocationAndTime p {
    width: 200px;
    font-size: 1em;
    white-space: normal;
  }
}
