.HourlyContainer {
  width: 70%;
  margin-block-start: 2%;
  margin-inline: auto;
  background: rgba(216, 216, 216, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(216, 216, 216, 0.65);
}
:global(.HourlyContainerGlobal) {
  content: "";
}
/* removing the anychart watermark text */
:global(.anychart-credits-text) {
  display: none !important;
  opacity: 0;
}
/* removing the  anychart watermark logo */
:global(.anychart-credits-logo) {
  display: none !important;
  opacity: 0;
}
.HourlyContainer div {
  /*chart*/
}
.my_tooltip {
  background-color: red;
  opacity: 0.5;
}
:global(.anychart-tooltip) {
  content: "hello";
  background-color: blue;
}
.chart {
  width:100% !important;
  height: 35vh !important;
}
