.Options {
  /* height: 8vh; */

  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  float: right;
}
.optionsHamburger {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  border-radius: 8px;
  right: 1%;
  top: 1%;
  z-index: 1;
  /* transform: translate(-50%,20%); */
  cursor: pointer;
  transition: background-color 0.5s, opacity 0.5s;
}
.optionsHamburger * {
  color: black;
}
.optionsHamburger:hover {
  background: rgba(255, 255, 255, 0.52);
}

/* :global(.clicked).optionsHamburger {
  opacity: 0;
  outline: none;
} */
:global(.App:has(.blur)) .optionsHamburger {
  opacity: 0;
  outline: none;
}
.sidePanel {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(235, 235, 235, 0.8);
  backdrop-filter: blur(10px);
  transition: width 0.5s;
  z-index: 1;
}

.poweredBy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.poweredBy * {
  color: black;
  /* font-size: 1w; */
}
.poweredBy p {
  display: inline-block;
  white-space: nowrap;
  margin-inline-start: 15px;
}
.poweredBy svg {
  width: 5vh;
}
@media (max-width: 800px) {
  .sidePanel {
    z-index: 0;
  }
  .optionsHamburger {
    z-index: 2;
  }
  :global(.App:has(.blur)) .optionsHamburger {
    opacity: 1;
    outline: none;
  }
}
@media (max-width: 300px) {
  .optionsHamburger {
    width: 20px;
    height: 20px;
  }
}
