body{
  width: 100vw;
   height: 100vh;
   background: url("https://miro.medium.com/max/1200/0*DZZjrKbTxFTssqRK.jpg");
   background-repeat: no-repeat;
  background-size:cover;
   background-position: center;
   backdrop-filter: blur(10px);
  }
*{
  margin: 0;
  color:white;
}
 .NavBar{
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
    background-color: rgb(31,29,38);
   
 }
 .NavBar *{
  margin-inline: 5%;
 }
 .NavBar .ReactFacts{
  display: flex;
  align-items: center;
  color: rgb(97,219,251);
 }
 .NavBar p{
  font-family: sans-serif;
  color: white;
}

 .hero{
  width: 87%;
     transform: translateY(30%);
 }
 .White-title{
  font-size:2.8em;
  transform: translate(6%)
 }
 .hero li{
  list-style: none;
 
   font-size: 1.7em;
 }
 .hero li::before{
  content: "• ";
  color: rgb(97,219,251); /* or whatever color you prefer */
 }